@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  z-index: 1;
}

body {
  position: relative;
  background-color: #141c2f;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-size: 100% !important;
  padding: 0 2rem;
}

a {
  color: inherit;
}

.material-icons-round {
  margin-right: 10px;
  font-size: 1rem;
  color: #fff;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popup {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.close {
  color: #000;
  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.hide {
  display: none;
}

#username-ip {
  width: 90%;
  height: 3rem;
  padding: 8px;
  font-size: 1.125rem;
  text-align: center;
}

button.login {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #141c2f;
  border: 1px solid #bbe1fa;
  background-color: #bbe1fa;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

button.login:hover {
  color: #bbe1fa;
  background-color: transparent;
}

div.container {
  width: 800px;
  height: 475px;
  margin-bottom: 7.5rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

div.title {
  font-size: 1.25rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #fff;
}

form {
  position: relative;
}

input.search-input::placeholder {
  color: #6b778d;
}

input.search-input,
input.search-input:focus-within,
input.search-input:focus-visible,
input.search-input:focus {
  width: 100%;
  background-color: #1f2a48;
  border: none;
  padding: 1rem 5.75rem 1rem 1rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
}

button.submit-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2c8dec;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

section.user-deet {
  /* visibility: hidden; */
  display: flex;
  justify-content: space-between;
  background-color: #1f2a48;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.sec-1 {
  width: 25%;
  display: flex;
  justify-content: center;
}

.sec-2 {
  padding-right: 5rem;
  width: 75%;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.line-1,
.stats,
.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-1 {
  flex-wrap: wrap;
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.joined {
  font-weight: 500;
}

.username {
  margin: 0.25rem 0;
  font-size: 1.125rem;
}

.bio {
  padding: 1rem 0;
  color: #6b778d;
  font-size: 1.25rem;
}

.stats {
  padding: 1rem 2rem;
  background-color: #141c2f;
  border-radius: 10px;
  flex-wrap: wrap;
}

.infos {
  padding-top: 1rem;
}

.title-s {
  font-size: 1rem;
  color: antiquewhite;
  padding: 2px 0;
  font-weight: 500;
}

.nums-s {
  font-size: 2rem;
  font-weight: 600;
}

.infoline-1,
.infoline-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.loc,
.blog {
  margin-right: 1rem;
}

.info-sec {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0.25rem;
  font-size: 1.1rem;
  color: #bbe1fa;
}

.not-found {
  color: red;
  font-size: 0.875rem;
  padding-top: 0.5rem;
  text-transform: lowercase;
}
